@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.cdnfonts.com/css/neuropolitical');
/* Dot Matrix Font */
@import url('https://fonts.cdnfonts.com/css/dot-matrix');

/* * Define Local Fonts */

/* @font-face {
  font-family: 'main_font';
  src: url('../../public/fonts/main.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */
/* Global Styles */
:root {
  /* MAIN COLORS */
  --main_background : #0A0B14;
  --sec_background : #13131a;
  --main_color: #91CB6C;
  --main_color_dark : #283a03;
  --main_color_light : #ccff61;
  
  --light_blue: #5B8BD1;
  --Header_grey : #64758A;

  /* GREYs */
  --Par_grey : #94A2B9;
  --light_grey: #f4f4f4;
  --border_grey: #e7e7e7;
  /* Fonts */
  --main_font : "Ubuntu", sans-serif;
  --Sec_Font: "Poppins", sans-serif;
  --Dot_font : 'Dot Matrix', sans-serif;

  --playable_font : 'Neuropolitical', sans-serif;
}

h1, h2, h3, h4, button{
  font-family: var(--main_font);
  -webkit-font-smoothing: antialiased;
  color : var(--Header_grey);
}
p, span, input{
  font-family: var(--Sec_Font);
  color: var(--Par_grey);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

span {
  font-weight: 100;
}


@keyframes fadeInOut {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Toast */
.foo .Toastify__toast-theme--light {
  background: rgba(44,44,48,0.9);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color : white;
}
.foo .Toastify__progress-bar--error {
  background-color: var(--main_color_light);
}
.foo .Toastify__close-button > svg {
  color: white;
}
